<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612886671653-fnpi0e4c92khmd456kicvql1pcaroin0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612886671653-fnpi0e4c92khmd456kicvql1pcaroin0</string>
	<key>API_KEY</key>
	<string>AIzaSyBjO-lW-jLcZETm_IcZ7hqcOTFX6s3x77Q</string>
	<key>GCM_SENDER_ID</key>
	<string>612886671653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frugivore.india</string>
	<key>PROJECT_ID</key>
	<string>frugivore-d50d8</string>
	<key>STORAGE_BUCKET</key>
	<string>frugivore-d50d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612886671653:ios:3efd8f0469f662ae566acc</string>
</dict>
</plist>